@media screen and ( max-width: 1300px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  
@media screen and ( max-width: 570px )
  .header
    .container
      width: 90%
  .logo
    margin-left: 0.15rem
  .phone
    margin-right: 0.3rem
    color: $light
    text-decoration: none
  .contacts
    &__button
      display: none
  .title
    font-size: 1.9rem
    line-height: 133%
  .hero
    .container
      margin-top: 4.33rem
      max-width: 100%
      display: flex
      justify-content: center
    &__scroll-down
      display: none
    &__text
      text-align: justify
      width: 100%
      font-size: 1.5rem
      line-height: 135%
      margin-top: 1.2rem
      margin-bottom: 2.8rem
    .button--primary
      display: block
      min-width: 22.86rem
      margin-bottom: 2.1rem
      margin-left: auto
      margin-right: auto
      padding: 1.5rem 7.7rem
      font-size: 1.1rem
    .button--outline
      display: block
      min-width: 22.86rem
      margin-left: auto
      margin-right: auto
      padding: 1.45rem 9.5rem
      font-size: 1.1rem
