.types
  padding-top: 10.14rem
  &__section-title
    margin-bottom: 2.2rem

.card
  &__text
    position: relative
    max-width: 23.6rem
    margin-top: -9.3rem
    margin-bottom: 0
    margin-left: auto
    margin-right: auto
    padding: 1.79rem 2.14rem 3.92rem 2.14rem
    background: $light
    box-shadow: 10px 10px 20px rgba($dark, 0.13);

  &__title
    margin-top: 0
    margin-bottom: 0.6rem
    font-family: 'Yeseva One', cursive
    font-size: 1.285rem
    font-weight: normal
  &__list
    list-style-type: disc
    padding: 0 0 0 1rem
    margin: 0
    font-weight: normal;
    font-size: 1.071rem
    line-height: 1.85rem
    color: $secondary
    

  &__pricetag
    position: absolute
    left: 0
    bottom: -2.071rem
    font-weight: normal
    font-size: 1.285rem
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.214rem 2.7rem

